<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>

<section>
  <!-- <img style="width:500px" src="https://picsum.photos/id/1005/5760/3840/"> -->
  <%= image_tag "https://picsum.photos/id/1005/5760/3840/", style: "width:500px" %>
</section>

<section>
  <div class="column">
    <h3>Stay in touch.</h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= form_with(model: @visitor) do |f| %>
        <%= f.email_field :email, placeholder: 'Your email address...', autofocus: true %>
        <br/>
        <br/>
        <%= f.submit 'Sign up for the newsletter', class: 'submit' %>
      <% end %>
    </div>
  </div>
</section>
